* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(157, 161, 165);
}

#container {
    width: 640px;
    max-height: 640px;
    overflow: hidden;
    border: 1px solid #000;
    background-color: antiquewhite;

    display: flex;
    flex-wrap: wrap;
}

.cell {
    box-sizing: border-box;
}

/* .cell {
    border: 1px solid #000;
    border-left: none;
    border-top: none;
} */

button {
    padding: 10px;
}